services:
  simply-skip-app-dev:
    build:
      context: ./SimplySkip
      dockerfile: Dockerfile
    ports:
      - "5002:80"
    depends_on:
      - postgres-dev
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__SSPostgresConnection: "Host=postgres-dev;Database=ssdb_dev;Username=johnz;Password=${DB_PASSWORD}"
      Jwt__Key: ${JWT_KEY}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
      Jwt__DurationInMinutes: ${JWT_DURATION}
    env_file:
      - .env

  postgres-dev:
    image: postgres:17
    environment:
      POSTGRES_DB: ssdb_dev
      POSTGRES_USER: johnz
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - db-data-dev:/var/lib/postgresql/data
    env_file:
      - .env

  pgadmin-dev:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5052:80"
    depends_on:
      - postgres-dev
    volumes:
      - pgadmin-data-dev:/var/lib/pgadmin
    env_file:
      - .env

volumes:
  db-data-dev:
  pgadmin-data-dev: